.wrap {
	display: flex;
	width: min-content;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.cylinder {
	background-color: #ddd;
	padding: 10px;
	border-radius: 4px;
	z-index: 5;
}

.piston {
	height: 120px;
	width: 20px;
	display: block;
	position: relative;
	background-color: #777;
}

.piston__handle {
	background-color: #333;
	display: block;
	position: absolute;
	width: 50px;
	height: 15px;
	left: -15px;
	cursor: grab;
}

.piston__handle:active {
	cursor: grabbing;
}

.progress-bar {
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 150px;
	width: 30px;
	background: #ddd;
}

.progress-bar__filling {
	display: inline-flex;
	width: 100%;
	background: green;
}
